parameters:
	ignoreErrors:
		-
			message: "#^Constant PRQ_ADMIN_URL not found\\.$#"
			count: 1
			path: src/admin/class-product-recommendation-quiz-for-ecommerce-admin.php

		-
			message: "#^Constant PRQ_API_URL not found\\.$#"
			count: 1
			path: src/admin/class-product-recommendation-quiz-for-ecommerce-admin.php

		-
			message: "#^Constant PRQ_STORE_URL not found\\.$#"
			count: 8
			path: src/admin/class-product-recommendation-quiz-for-ecommerce-admin.php

		-
			message: "#^Constant PRQ_WOO_VERSION not found\\.$#"
			count: 2
			path: src/admin/class-product-recommendation-quiz-for-ecommerce-admin.php

		-
			message: "#^Constant PRQ_WP_VERSION not found\\.$#"
			count: 2
			path: src/admin/class-product-recommendation-quiz-for-ecommerce-admin.php

		-
			message: "#^Constant PRQ_ADMIN_URL not found\\.$#"
			count: 1
			path: src/front/class-product-recommendation-quiz-for-ecommerce-front-embed-script.php

		-
			message: "#^Constant PRQ_STORE_URL not found\\.$#"
			count: 2
			path: src/front/class-product-recommendation-quiz-for-ecommerce-front-embed-script.php

		-
			message: "#^Constant PRQ_WOO_VERSION not found\\.$#"
			count: 1
			path: src/front/class-product-recommendation-quiz-for-ecommerce-front-embed-script.php

		-
			message: "#^Constant PRQ_WP_VERSION not found\\.$#"
			count: 1
			path: src/front/class-product-recommendation-quiz-for-ecommerce-front-embed-script.php

		-
			message: "#^Property Product_Recommendation_Quiz_For_Ecommerce_Front_Embed_Script\\:\\:\\$version is never read, only written\\.$#"
			count: 1
			path: src/front/class-product-recommendation-quiz-for-ecommerce-front-embed-script.php

		-
			message: "#^Parameter \\#4 \\$autoload of function add_option expects bool\\|null, string given\\.$#"
			count: 1
			path: src/includes/class-product-recommendation-quiz-for-ecommerce-activator.php

		-
			message: "#^Strict comparison using \\=\\=\\= between null and string will always evaluate to false\\.$#"
			count: 1
			path: src/product-recommendation-quiz-for-ecommerce.php
